---
import Container from "../../common/container.astro";
---

<section class="hero">
  <Container>
    <div class="hero__content">
      <h1 class="hero__name"></h1>
      <p class="hero__title"></p>
      <p class="hero__metric"></p>
      <div class="hero__cta">
        <a href="#" class="hero__button hero__button--primary"></a>
        <a href="#" class="hero__button hero__button--secondary"></a>
      </div>
    </div>
  </Container>
</section>

<style>
  .hero {
  }

  .hero__content {
  }

  .hero__name {
  }

  .hero__title {
  }

  .hero__metric {
  }

  .hero__cta {
  }

  .hero__button {
  }

  .hero__button--primary {
  }

  .hero__button--secondary {
  }
</style>
