---
import Container from "../../common/container.astro";
---

<section class="about">
  <Container>
    <h2 class="about__heading"></h2>
    <p class="about__text"></p>
  </Container>
</section>

<style>
  .about {
  }

  .about__heading {
  }

  .about__text {
  }
</style>
