---
import Container from "../../common/container.astro";
---

<section class="contact">
  <Container>
    <h2 class="contact__heading"></h2>
    <div class="contact__content">
      <div class="contact__info">
        <a href="" class="contact__email"></a>
        <ul class="contact__links">
          <li class="contact__link-item">
            <a href="" class="contact__link"></a>
          </li>
        </ul>
      </div>
      <form class="contact__form">
        <div class="contact__field">
          <label class="contact__label"></label>
          <input type="text" class="contact__input" />
        </div>
        <div class="contact__field">
          <label class="contact__label"></label>
          <input type="email" class="contact__input" />
        </div>
        <div class="contact__field">
          <label class="contact__label"></label>
          <textarea class="contact__textarea"></textarea>
        </div>
        <button type="submit" class="contact__submit"></button>
      </form>
    </div>
  </Container>
</section>

<style>
  .contact {
  }

  .contact__heading {
  }

  .contact__content {
  }

  .contact__info {
  }

  .contact__email {
  }

  .contact__links {
  }

  .contact__link-item {
  }

  .contact__link {
  }

  .contact__form {
  }

  .contact__field {
  }

  .contact__label {
  }

  .contact__input {
  }

  .contact__textarea {
  }

  .contact__submit {
  }
</style>
