---
import Container from "../../common/container.astro";
---

<section class="projects">
  <Container>
    <h2 class="projects__heading"></h2>
    <ul class="projects__list">
      <li class="projects__item">
        <article class="projects__card"></article>
      </li>
      <li class="projects__item">
        <article class="projects__card"></article>
      </li>
      <li class="projects__item">
        <article class="projects__card"></article>
      </li>
    </ul>
  </Container>
</section>

<style>
  .projects {
  }

  .projects__heading {
  }

  .projects__list {
  }

  .projects__item {
  }

  .projects__card {
  }
</style>
